*{
    margin: 0;
    padding: 0;
    font-family: poppins,sans-serif;
    box-sizing: border-box;
}
body{
    background: black;
    color: white;
}
#header {
    width: 100%;
    height: 100vh;
    /*    remember to put background image* (background-image:url(file path)),
    background size: cover,background-position:center /
     */
}
.container{
    /*padding for top and bottom,left and right*/
    padding: 10px 10%;
}
nav{
/*    logo and links will be side by side*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*logo{*/
    /*width: 140px;*/
/*}*/
nav ul li{
/*    for horizontal alignment*/
    display: inline-block;
    list-style: none;
/*    for space in between links*/
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    /*remove line under links*/
    text-decoration: none;
    font-size: 18px;
    position:relative;
}
/*hover effect*/
nav ul li a::after{
    content:'';
    width: 0;
    height:3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color:#ff004f ;
}
/*about me section*/
#about\ me{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
/*deciding width of the columns*/
.about-col-1{
    flex-basis: 35%;
}
/*.about-col-1 img{*/
    /*width:100%;*/
    /*border-radius: 15px;*/
/*}*/
/*the remaining 5% leaves some space */
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
}
/*the line under the tabs*/
.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    /*hiding tab contents*/
    display: none;
}
.tab-contents.active-tab{
/*    displaying the active tab only*/
    display: block;
}




























































































































































